@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@font-face {
  font-family: 'Switzer';
  src: url('../src/assets/Font/Switzer-Medium.woff2') format('woff2'),
       url('../src/assets/Font/Switzer-Medium.woff') format('woff'),
       url('../src/assets/Font/Switzer-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@theme {
  --font-primary: "Inter", "sans-serif";
  --font-secondary: "Switzer", "sans-serif";
  --color-purpel: #703CDE;
  --color-white: #FFFFFF;
}
body {
  overflow-x: hidden;
}

root{
  font-family: var(--font-primary);
}
